@model IEnumerable<Request>

<div class="row mt-5">
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <th>Name</th>
            <th>Submitted By</th>
        </tr>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Name</td>
                <td>@request.User.Email</td>
            </tr>
        }
    </table>
</div>