<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-plus mr-2"></i>New Request</a></li>
<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-list mr-2"></i>My Requests</a></li>